nav {
  width: 97px;
  height: 100vh;
  padding-top: 30px;
  background: #5b5ce2;
  box-shadow: 10px 0px 50px 0px rgba(0, 0, 0, 0.05);
  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;
    a {
      padding: 15px;
      border-radius: 6px;
    }
  }
}

.link {
  background: #6c6de5;
}
